 <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex">
        <!-- Seccion Usuario -->
        <div class="card mb-3 me-3 custom-card usuarios-card">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-people-fill fs-4 me-3"></i>
                <h5 class="card-title text-center">Usuarios</h5>
            </div>
            <a href="lista-usuarios" class="stretched-link"></a>
        </div>

        <!-- Seccion Productos   -->
        <div class="card mb-3 me-3 custom-card productos-card">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-bag-fill fs-4 me-3"></i>
                <h5 class="card-title text-center">Productos</h5>
            </div>
            <a href="lista-productos" class="stretched-link"></a>
        </div>        
        
        <!-- Seccion de Proveedores -->
        <div class="card mb-3 me-3 custom-card proveedores-card">
            <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <i class="bi bi-box-arrow-in-up fs-4 mb-3"></i>
                <h5 class="card-title text-center">Proveedores</h5>
            </div>
            <a href="/lista-proveedores" class="stretched-link"></a>
        </div>          
        
        <!-- Seccion de Empleados -->
        <div class="card mb-3 d-flex justify-content-center align-items-center custom-card empleados-card">
            <div class="card-body d-flex flex-column align-items-center">
                <i class="bi bi-file-earmark-text-fill fs-4 mb-3"></i>
                <h5 class="card-title mb-0 text-center">Empleados</h5>
            </div>
            <a href="/lista-empleados" class="stretched-link"></a>
        </div>        
    </div>
</div>
