<div class="hola">
<div class="container mt-4">
    <div class="">
        <div class="card-body">
            <span class="h3">
                Lista de empleados
            </span>
            <div class="botones-container">
                <button class="btn btn-dark btn-lg float-end" routerLink="/nuevo-empleado">Agregar empleado</button>
                <button class="btn btn-dark btn-lg float-end" routerLink="/menu">Panel</button>
                </div>
            <table class="table table-hover mt-4">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of empleados">
                        <td>{{ u.id }}</td>
                        <td>{{ u.apellidop }}</td>
                        <td>{{ u.apellidom }}</td>
                        <td>{{ u.nombre }}</td>
                        <td>{{ u.usuario }}</td>
                        <td>
                            <i class="fas fa-edit" [routerLink]="['/editar-empleado/', u.id]"></i>
                            <i class="fas fa-trash" (click)="eliminar(u)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
