<div class="Responsive">
    <section class="page-section bg-light" id="Productos">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Productos más destacados</h2>
                <h3 class="section-subheading text-muted">Los mejores agroquimicos del mercado</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Producto item 1-->
                    <div class="Producto-item">
                        <a class="Producto-link" data-bs-toggle="modal" href="#ProductoModal1">
                            <div class="Producto-hover">
                                <div class="producto-hover-content"><i class="fa fa-eye width:6; height:6;"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/images/Background Eraser(3).png" alt="..." />
                        </a>
                        <div class="Producto-caption">
                            <div class="Producto-caption-heading">Allectus-1Lt</div>
                            <div class="Producto-caption-subheading text-muted">precio: $300</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Producto item 2-->
                    <div class="Producto-item">
                        <a class="producto-link" data-bs-toggle="modal" href="#productoModal2">
                            <div class="producto-hover">
                                <div class="producto-hover-content"><i class="fa fa-eye"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/images/Background Eraser(3).png" alt="..." />
                        </a>
                        <div class="producto-caption">
                            <div class="producto-caption-heading">Frutex-combo fertilizantes</div>
                            <div class="producto-caption-subheading text-muted">precio: $2000</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Producto item 3-->
                    <div class="Producto-item">
                        <a class="producto-link" data-bs-toggle="modal" href="#productoModal3">
                            <div class="producto-hover">
                                <div class="producto-hover-content"><i class="fa fa-eye"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/images/Background Eraser(3).png" alt="..." />
                        </a>
                        <div class="producto-caption">
                            <div class="producto-caption-heading">Inquifersa- 1kg</div>
                            <div class="producto-caption-subheading text-muted">precio: $150</div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="Producto-item">
                        <a class="producto-link" data-bs-toggle="modal" href="#productoModal4">
                            <div class="producto-hover">
                                <div class="producto-hover-content"><i class="fa fa-eye"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/images/Background Eraser(4).png" alt="..." />
                        </a>
                        <div class="producto-caption">
                            <div class="producto-caption-heading">Frutex- rotex- dupla campo</div>
                            <div class="producto-caption-subheading text-muted">precio: 25</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <!-- Producto item 5-->
                    <div class="Producto-item">
                        <a class="producto-link" data-bs-toggle="modal" href="#productoModal5">
                            <div class="producto-hover">
                                <div class="producto-hover-content"><i class="fa fa-eye"></i></div>
                            </div>

                            <img class="img-fluid" src="assets/images/Background Eraser(4).png" alt="..." />
                        </a>
                        <div class="producto-caption">
                            <div class="producto-caption-heading">Frutex-combo</div>
                            <div class="producto-caption-subheading text-muted">precio: $150</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Portfolio item 6-->
                    <div class="portfolio-item">
                        <a class="producto-link" data-bs-toggle="modal" href="#productoModal6">
                            <div class="producto-hover">
                                <div class="producto-hover-content"><i class="fa fa-eye"></i></div>
                            </div>
                            <img class="img-fluid" src="assets/images/Background Eraser(4).png" alt="..." />
                        </a>
                        <div class="producto-caption">
                            <div class="producto-caption-heading">Frutex-combo</div>
                            <div class="producto-caption-subheading text-muted">precio: $100</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="Producto-modal modal fade" id="ProductoModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Frutex Agroquímico</h2>
                            <p class="item-intro text-muted">Allectus</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/Background Eraser(3).png" alt="..." />
                            <p>Producto formulado con base en carbohidratos y otros compuestos orgánicos, cuya finalidad es mejorar las condiciones de la planta para generar un fruto de mayor calidad, particularmente sobre aumento en tamaño.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Beneficios:</strong> Ayuda a la mejora de cultivos
                                </li>
                                <li>
                                    <strong>Category:</strong> Insectisida

                                </li>
                                <LI>
                                    <strong> Toxicidad:</strong> Rojo
                                </LI>
                                <li>
                                    <strong> Cantidad disponible:</strong>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Producto-modal modal fade" id="productoModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase-center">Frutex agroquímico</h2>
                            <p class="item-intro text-muted-center">Agroquímico.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/Background Eraser(3).png" alt="..." />
                            <p>Producto formulado con base en carbohidratos y otros compuestos orgánicos, cuya finalidad es mejorar las condiciones de la planta durante la etapa de fructificación para generar un fruto de mayor calidad, particularmente sobre
                                aumento en tamaño.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Beneficios:</strong> Ayuda en la mejora de cultivos
                                </li>
                                <li>
                                    <strong>Categoria:</strong> Insectisida
                                </li>
                                <li>
                                    <strong> Toxicidad:</strong> Rojo
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    cerrar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Producto-modal modal fade" id="productoModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Inquifersa-Fertilizante</h2>
                            <p class="item-intro text-muted">fertilizante.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/Background Eraser(3).png" alt="..." />
                            <p>Producto formulado con base en carbohidratos y otros compuestos orgánicos, cuya finalidad es mejorar las condiciones de la planta durante la etapa de fructificación para generar un fruto de mayor calidad, particularmente sobre
                                aumento en tamaño.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Beneficios:</strong> Ayuda en la mejora de cultivos
                                </li>
                                <li>
                                    <strong>Categoria:</strong> Insectisida
                                </li>
                                <li>
                                    <strong> Toxicidad:</strong> Rojo
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Cerrar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="Producto-modal modal fade" id="productoModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Frutex- rotex</h2>
                            <p class="item-intro text-muted">Fertilizante.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/Background Eraser(4).png" alt="..." />
                            <p>Producto formulado con base en carbohidratos y otros compuestos orgánicos, cuya finalidad es mejorar las condiciones de la planta para generar un fruto de mayor calidad, particularmente sobre aumento en tamaño.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Beneficios:</strong> Ayuda en la mejora de cultivos
                                </li>
                                <li>
                                    <strong>Categoria:</strong> Insectisida
                                </li>
                                <li>
                                    <strong> Toxicidad:</strong> Rojo
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-xmark me-1"></i>
                   cerrar
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="Producto-modal modal fade" id="productoModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Frutex</h2>
                            <p class="item-intro text-muted">Fertilizante.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/Background Eraser(4).png" alt="..." />
                            <p>Producto formulado con base en carbohidratos y otros compuestos orgánicos, cuya finalidad es mejorar las condiciones de la planta durante la etapa de fructificación para generar un fruto de mayor calidad, particularmente sobre
                                aumento en tamaño.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Beneficios:</strong> Ayuda en la mejora de cultivos
                                </li>
                                <li>
                                    <strong>Categoria:</strong> Insectisida
                                </li>
                                <li>
                                    <strong> Toxicidad:</strong> verde
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-xmark me-1"></i>
                    cerrar
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="roducto-modal modal fade" id="productoModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Frutex-rotex-Aminocel</h2>
                            <p class="item-intro text-muted">Fertilizante</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/Background Eraser(4).png" alt="..." />
                            <p>Producto formulado con base en carbohidratos y otros compuestos orgánicos, cuya finalidad es mejorar las condiciones de la planta durante la etapa de fructificación para generar un fruto de mayor calidad, particularmente sobre
                                aumento en tamaño.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Beneficios:</strong> Ayuda en la mejora de cultivos
                                </li>
                                <li>
                                    <strong>Categoria:</strong> Insectisida
                                </li>
                                <li>
                                    <strong> Toxicidad:</strong> Amarillo
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                    <i class="fas fa-xmark me-1"></i>
                    Cerrar
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>